[package]
name = "nylon-ring"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]

[dev-dependencies]
criterion = { workspace = true }

[[bench]]
name = "abi_types"
harness = false
